{%extends "admin_base.html"%}

{%block title%}admin{%endblock%}
{%block s2css%}{{staff_reg_form.media.css}}{%endblock%}
{%block s2cjs%}{{staff_reg_form.media.js}}{%endblock%}
{%block navbar%}
{%include "nav.html"%}
{%endblock%}

{%block edits%}
{%if msg%}
    <div class="alert alert-success">
        <strong><h2>{{msg}}</h2></strong>
    </div>
{%endif%}

{%if error%}
    <div class="alert alert-danger">
        <strong>Error!</strong> {{error}}
    </div>
{%endif%}


{%if uniqueness_error%}
    <div class="alert alert-danger">
        <strong>Error!</strong> {{uniqueness_error}}
    </div>
{%endif%}

<form action='' class="templatemo-login-form" method="post" >
    {%csrf_token%}
              <div class="row form-group">
                <div class="col-lg-6 col-md-6 form-group">
                    <label for="staff_id">staff id</label>
                    {{staff_reg_form.staff_id}}
                </div>
                <div class="col-lg-6 col-md-6 form-group">
                    <label for="first_name">first name</label>
                    {{staff_reg_form.first_name}}
                </div>
              </div>
              <div class="row form-group">
                <div class="col-lg-6 col-md-6 form-group">
                    <label for="surname">surname</label>
                    {{staff_reg_form.surname}}
                </div>
                <div class="col-lg-6 col-md-6 form-group">
                    <label for="last_name">last name</label>
                    {{staff_reg_form.last_name}}
                </div>
              </div>

              <div class="row form-group">
                  <div class="col-lg-6 col-md-6 form-group" >
                    <label for="admin_status">admin status</label>
                    {{staff_reg_form.admin_status}}
                  </div>
                  <div class="col-lg-6 col-md-6 form-group">
                    &nbsp;<label for="admin_status">management status</label>
                     {{staff_reg_form.management_status}}
                  </div>
              </div>
              <div class="row form-group">
                    <div class="col-lg-6 col-md-6 form-group">
                       <label for="office">office</label>
                       {{staff_reg_form.office}}
                    </div>
              </div>

            <div class="form-group text-right">
                <button type="submit" class="templatemo-blue-button">Add staff</button>
            </div>
</form>

{%endblock%}


