<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%block title%}{%endblock%}</title>
    <meta name="description" content="">
    <meta name="author" content="templatemo">
    <!--
    Visual Admin Template
    http://www.templatemo.com/preview/templatemo_455_visual_admin
    -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
    <link href="/static/FTS3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/FTS3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/FTS3/css/templatemo-style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
        <!--{{ uform.media.css }}-->
      {%block s2css%}{%endblock%}

  </head>
  <body>
    <!-- Left column -->
    <div class="templatemo-flex-row">
      <div class="templatemo-sidebar">
        <header class="templatemo-site-header">
          <div class="square"></div>
          <h1>{%block username%}{%endblock%}</h1>
        </header>
        <div class="profile-photo-container">
          <!--<img src="images/profile-photo.jpg" alt="Profile Photo" class="img-responsive">-->
          <div class="profile-photo-overlay"></div>
        </div>
        <!-- Search box -->
        {%block search%}{%endblock%}
        <div class="mobile-menu-icon">
            <i class="fa fa-bars"></i>
        </div>
        {%block navbar%}{%endblock%}

      </div>

      <!-- Main content -->
      <div class="templatemo-content col-1 light-gray-bg">
        <div class="templatemo-top-nav-container">
          <div class="row">
            <nav class="templatemo-top-nav col-lg-12 col-md-12">
              <ul class="text-uppercase">
                <li><a href="" class="active">Dashboard</a></li>

                <li><a href="/logout">Sign out</a></li>
                                </ul>
            </nav>
          </div>
        </div>
          <div class="templatemo-content-container">
              {%block content%}{%endblock%}
               <div class="templatemo-content-widget white-bg">
                   {%block edits%}{%endblock%}
               </div>
           <!-- Second row ends -->
          <footer class="text-right">
            <p>Copyright &copy; 2018 NeoAltus
            | Designed by <a href="" target="_parent">NeoAltus</a></p>
          </footer>
</div>
      </div>
    </div>

    <!-- JS -->
    <script src="/static/FTS3/js/jquery-2.2.4.min.js"></script>      <!-- jQuery -->
    <script src="/static/FTS3/js/jquery-1.11.2.min.js"></script>      <!-- jQuery -->
    <script src="/static/FTS3/js/jquery-migrate-1.2.1.min.js"></script> <!--  jQuery Migrate Plugin -->
    <script src="https://www.google.com/jsapi"></script> <!-- Google Chart -->

    <script type="text/javascript" src="/static/FTS3/js/templatemo-script.js"></script>      <!-- Templatemo Script -->
{%block s2cjs%}{%endblock%}

  </body>
</html>