{%extends "base.html"%}
{%block welcome%}
  <h1>Welcome to NAHCON</h1>
{%endblock%}
{%block login%}
<div class="col-lg-5 col-md-8">

            <div class="form">
                {%if errors%}
                    <div class="alert alert-warning"> {{errors}}</div>
                {%endif%}
              <form action='' method="POST" role="form" class="contactform">
                  {%csrf_token%}
                  <div class="form-group">
                    {{login.username}}
                  <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    {{login.password}}
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit" class="btn btn-primary btn-md">Login</button></div>
              </form>
            </div>
          </div>
{%endblock%}