{%extends "base.html"%}
{%block search%}
    {%if form.errors%}
        <p>
            sorry.Thats not a search parameter
        </p>
    {%endif%}

<div class="col-lg-5 col-md-8">
            <div class="form">
              <div id="errormessage"></div>
              <form action="/search/" method="post" role="form" class="contactForm">
                  {%csrf_token%}
                <div class="form-group">
                  <input type="text" name="search" class="form-control" id="username" placeholder="search file" data-rule="minlen:4" data-msg="Please enter file name or file id" />
                  <div class="validation"></div>
                </div>

                <div class="text-center"><button type="submit">search</button></div>
              </form>
            </div>
          </div>

{%endblock%}

</html>