<nav class="templatemo-left-nav">
          <ul>
            <li><a href="/admin_staff/{{staff_id}}" class="active"><i class="fa fa-home fa-fw"></i>Dashboard</a></li>
            <li><a href="/logout"><i class="fa fa-eject fa-fw"></i>Sign Out</a></li>
            <li><a href="/add_staff"><i class="fa fa-eject fa-fw"></i>Add staff</a></li>
            <li><a href="/add_file"><i class="fa fa-eject fa-fw"></i>Add file</a></li>
            <!--<li><a href=#><i class="fa fa-eject fa-fw"></i>Remove staff</a></li>-->
            <li><a href="/manage_logins"><i class="fa fa-eject fa-fw"></i>Manage Logins</a></li>
          </ul>
        </nav>