
{%extends "admin_base.html"%}

{%block title%}admin{%endblock%}
{%block s2css%}{{rmvform.media.css}}{%endblock%}
{%block s2cjs%}{{rmvform.media.js}}{%endblock%}
{%block navbar%}
{%include "nav.html"%}
{%endblock%}
{%block edits%}

{%if error%}
    <div class="alert alert-danger">
        <strong>Error!</strong> {{error}}
    </div>
{%endif%}
{%if uniqueness_error%}
    <div class="alert alert-danger">
        <strong>Error!</strong> {{uniqueness_error}}
    </div>
{%endif%}

{%if msg%}
    <div class="alert alert-success">
        <strong><h2>{{msg}}</h2></strong>
    </div>
{%endif%}
<form action='' method="POST" role="form" class="contactform">
    {%csrf_token%}
    <div class="row form-group">
                <div class="col-lg-6 col-md-6 form-group">
                    <label for="staff">staff</label>
                    {{rmvform.user}}
                </div>

              </div>
     <div class="form-group text-right">
                <button type="submit" class="templatemo-blue-button">Revoke</button>
     </div>
</form>
{%endblock%}